In [1]:
import pandas as pd
import numpy as np

# Load data.

In [54]:
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('display.max_columns', None)
pd.set_option('max_colwidth', -1)
pd.set_option('display.width', 2000)
pd.set_option('display.max_rows', None)

In [7]:
cashRewardsFilePath = '..\data\BOfA_CreditCard_CashRewards_ExportData.csv'
travelRewardsFilePath = '..\data\BOfA_CreditCard_TravelRewards_ExportData.csv'
bofaAccountsFilePath = '..\data\BOfA_ExportData.csv'
discoverFilePath = '..\data\Discover-AllAvailable-20190429.csv'
bofaCashRewardsTransactions = pd.read_csv(cashRewardsFilePath)
bofaTravelRewardsTransactions = pd.read_csv(travelRewardsFilePath)
bofaAccountTransactions = pd.read_csv(bofaAccountsFilePath)
discoverTransactions = pd.read_csv(discoverFilePath)

In [8]:
print(bofaCashRewardsTransactions.head())
print(bofaTravelRewardsTransactions.head())
print(bofaAccountTransactions.head())
print(discoverTransactions.head())

   Status       Date                      Original Description  Split Type  \
0  posted  3/12/2019                       PAYMENT - THANK YOU         NaN
1  posted   3/6/2019  COMCAST CABLE COMM       800-COMCAST  WA         NaN
2  posted   3/4/2019  Kindle Unltd*MI6IX89V1   xxx-xxx-8851 WA         NaN
3  posted  2/20/2019  THE HOME DEPOT #4723     REDMOND      WA         NaN
4  posted  2/20/2019  MAIDPRO BELLEVUE         REDMAN       WA         NaN

                   Category Currency    Amount  User Description  Memo  \
0      Credit Card Payments        $  1,075.42               NaN   NaN
1  Cable/Satellite Services        $    -99.89               NaN   NaN
2             Entertainment        $    -10.99               NaN   NaN
3          Home Improvement        $     -4.09               NaN   NaN
4          Home Maintenance        $      -112               NaN   NaN

  Classification Simple Description
0       Personal                NaN
1       Personal            Comcast
2       Personal      Amazon Kindle
3       Personal         Home Depot
4       Personal            MaidPro
   Status       Date                      Original Description  Split Type  \
0  posted  3/30/2019  BURGER KING #965         BELLEVUE     WA         NaN
1  posted  3/29/2019  SQ *VEG-WICH             BELLEVUE     WA         NaN
2  posted  3/29/2019                 Online payment from CHK 8         NaN
3  posted  3/28/2019  CAFE xx       xxxx3524   REDMOND      WA         NaN
4  posted  3/27/2019  CAFE xx       xxxx3524   REDMOND      WA         NaN

             Category Currency    Amount  User Description  Memo  \
0  Restaurants/Dining        $    -10.66               NaN   NaN
1           Groceries        $     -13.8               NaN   NaN
2            Deposits        $  3,299.00               NaN   NaN
3  Restaurants/Dining        $     -9.89               NaN   NaN
4  Restaurants/Dining        $     -8.79               NaN   NaN

  Classification       Simple Description
0       Personal  Burger King Corporation
1       Personal                      NaN
2       Personal                      NaN
3       Personal                  Cafe 37
4       Personal                  Cafe 37
   Status        Date                               Original Description  \
0  posted  03/29/2019  MICROSOFT        DES:EDIPAYMENT ID:xxxxxxxxx34...
1  posted  03/28/2019  VENMO            DES:PAYMENT    ID:xxxxxx5839 ...
2  posted  03/28/2019  Online Banking payment to CRD 6551            ...
3  posted  03/25/2019  VENMO            DES:PAYMENT    ID:xxxxxx5707 ...
4  posted  03/25/2019  VENMO            DES:PAYMENT    ID:xxxxxx7771 ...

   Split Type              Category Currency     Amount User Description  \
0         NaN          Other Income        $   2,086.90              NaN
1         NaN       Online Services        $    -100.00              NaN
2         NaN  Credit Card Payments        $  -3,299.00              NaN
3         NaN       Online Services        $    -112.99              NaN
4         NaN       Online Services        $    -204.19              NaN

   Memo Classification                                     Account Name  \
0   NaN       Personal  Bank of America - Bank - Bofa Interest Checking
1   NaN       Personal  Bank of America - Bank - Bofa Interest Checking
2   NaN       Personal  Bank of America - Bank - Bofa Interest Checking
3   NaN       Personal  Bank of America - Bank - Bofa Interest Checking
4   NaN       Personal  Bank of America - Bank - Bofa Interest Checking

                                  Simple Description
0  MICROSOFT        DES:EDIPAYMENT ID:XX3434P2   ...
1                                          Venmo Inc
2  Online Banking payment to CRD 6551            ...
3                                          Venmo Inc
4                                          Venmo Inc
  Trans. Date   Post Date                                 Description  Amount  \
0  04/27/2017  04/27/2017  SAUGERTIES WOODSTOCK K SAUGERTIES NY02706R   50.95
1  05/03/2017  05/03/2017                   PETSMART # 1193 ITHACA NY    7.32
2  05/03/2017  05/03/2017                 SUNOCO 0363912701 ITHACA NY   20.04
3  05/03/2017  05/03/2017               WAL-MART SC - #5240 ITHACA NY    6.42
4  05/04/2017  05/04/2017                INTERNET PAYMENT - THANK YOU -467.34

               Category
0              Services
1           Merchandise
2              Gasoline
3           Merchandise
4  Payments and Credits

In [9]:
bofaCashRewardsTransactions.head()

,Status,Date,Original Description,Split Type,Category,Currency,Amount,User Description,Memo,Classification,Simple Description
0,posted,3/12/2019,PAYMENT - THANK YOU,NaN,Credit Card Payments,$,"1,075.42",NaN,NaN,Personal,NaN
1,posted,3/6/2019,COMCAST CABLE COMM 800-COMCAST WA,NaN,Cable/Satellite Services,$,-99.89,NaN,NaN,Personal,Comcast
2,posted,3/4/2019,Kindle Unltd*MI6IX89V1 xxx-xxx-8851 WA,NaN,Entertainment,$,-10.99,NaN,NaN,Personal,Amazon Kindle
3,posted,2/20/2019,THE HOME DEPOT #4723 REDMOND WA,NaN,Home Improvement,$,-4.09,NaN,NaN,Personal,Home Depot
4,posted,2/20/2019,MAIDPRO BELLEVUE REDMAN WA,NaN,Home Maintenance,$,-112,NaN,NaN,Personal,MaidPro

In [10]:
bofaCashRewardsTransactions.Amount = bofaCashRewardsTransactions.Amount.str.replace(',','').astype(float)
bofaCashRewardsTransactions.Amount = bofaCashRewardsTransactions.Amount * -1
bofaCashRewardsTransactions.rename(columns={'Simple Description': 'Description'},inplace=True)
bofaCashRewardsTransactions.Description.fillna(bofaCashRewardsTransactions['Original Description'],inplace=True)
bofaCashRewardsTransactions.head()

,Status,Date,Original Description,Split Type,Category,Currency,Amount,User Description,Memo,Classification,Description
0,posted,3/12/2019,PAYMENT - THANK YOU,NaN,Credit Card Payments,$,-1075.42,NaN,NaN,Personal,PAYMENT - THANK YOU
1,posted,3/6/2019,COMCAST CABLE COMM 800-COMCAST WA,NaN,Cable/Satellite Services,$,99.89,NaN,NaN,Personal,Comcast
2,posted,3/4/2019,Kindle Unltd*MI6IX89V1 xxx-xxx-8851 WA,NaN,Entertainment,$,10.99,NaN,NaN,Personal,Amazon Kindle
3,posted,2/20/2019,THE HOME DEPOT #4723 REDMOND WA,NaN,Home Improvement,$,4.09,NaN,NaN,Personal,Home Depot
4,posted,2/20/2019,MAIDPRO BELLEVUE REDMAN WA,NaN,Home Maintenance,$,112.00,NaN,NaN,Personal,MaidPro

In [11]:
bofaTravelRewardsTransactions.Amount = bofaTravelRewardsTransactions.Amount.str.replace(',','').astype(float)
bofaTravelRewardsTransactions.Amount = bofaTravelRewardsTransactions.Amount * -1.0
bofaTravelRewardsTransactions.rename(columns={'Simple Description': 'Description'},inplace=True)
bofaTravelRewardsTransactions.Description.fillna(bofaTravelRewardsTransactions['Original Description'],inplace=True)
bofaTravelRewardsTransactions.head()

,Status,Date,Original Description,Split Type,Category,Currency,Amount,User Description,Memo,Classification,Description
0,posted,3/30/2019,BURGER KING #965 BELLEVUE WA,NaN,Restaurants/Dining,$,10.66,NaN,NaN,Personal,Burger King Corporation
1,posted,3/29/2019,SQ *VEG-WICH BELLEVUE WA,NaN,Groceries,$,13.80,NaN,NaN,Personal,SQ *VEG-WICH BELLEVUE WA
2,posted,3/29/2019,Online payment from CHK 8,NaN,Deposits,$,-3299.00,NaN,NaN,Personal,Online payment from CHK 8
3,posted,3/28/2019,CAFE xx xxxx3524 REDMOND WA,NaN,Restaurants/Dining,$,9.89,NaN,NaN,Personal,Cafe 37
4,posted,3/27/2019,CAFE xx xxxx3524 REDMOND WA,NaN,Restaurants/Dining,$,8.79,NaN,NaN,Personal,Cafe 37

In [12]:
bofaAccountTransactions.Amount = bofaAccountTransactions.Amount.str.replace(',','').astype(float)
bofaAccountTransactions.Amount = bofaAccountTransactions.Amount * -1.0
bofaAccountTransactions.rename(columns={'Simple Description': 'Description'},inplace=True)
bofaAccountTransactions.Description.fillna(bofaAccountTransactions['Original Description'],inplace=True)
bofaAccountTransactions.head()

,Status,Date,Original Description,Split Type,Category,Currency,Amount,User Description,Memo,Classification,Account Name,Description
0,posted,03/29/2019,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx34...,NaN,Other Income,$,-2086.90,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX3434P2 ...
1,posted,03/28/2019,VENMO DES:PAYMENT ID:xxxxxx5839 ...,NaN,Online Services,$,100.00,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,Venmo Inc
2,posted,03/28/2019,Online Banking payment to CRD 6551 ...,NaN,Credit Card Payments,$,3299.00,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,Online Banking payment to CRD 6551 ...
3,posted,03/25/2019,VENMO DES:PAYMENT ID:xxxxxx5707 ...,NaN,Online Services,$,112.99,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,Venmo Inc
4,posted,03/25/2019,VENMO DES:PAYMENT ID:xxxxxx7771 ...,NaN,Online Services,$,204.19,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,Venmo Inc

In [13]:
bofaAccountTransactions[bofaAccountTransactions.Category == 'Other Income']

,Status,Date,Original Description,Split Type,Category,Currency,Amount,User Description,Memo,Classification,Account Name,Description
0,posted,03/29/2019,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx34...,NaN,Other Income,$,-2086.90,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX3434P2 ...
10,posted,03/15/2019,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx32...,NaN,Other Income,$,-2078.18,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX3275P2 ...
15,posted,02/28/2019,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx33...,NaN,Other Income,$,-2086.91,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX3391P2 ...
24,posted,02/15/2019,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx24...,NaN,Other Income,$,-2086.91,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX2463P2 ...
33,posted,01/31/2019,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx82...,NaN,Other Income,$,-2118.01,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX8250P2 ...
44,posted,01/15/2019,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx40...,NaN,Other Income,$,-2117.94,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX4020P2 ...
53,posted,12/31/2018,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx31...,NaN,Other Income,$,-2989.60,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX3172P2 ...
64,posted,12/14/2018,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx55...,NaN,Other Income,$,-2981.29,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX5561P2 ...
65,posted,12/11/2018,MICROSOFT DES:xxxxxx0322 ID:xxxxxxxxxx1...,NaN,Other Income,$,-1392.75,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:XX0322 ID:XX1010 ...
76,posted,11/30/2018,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx21...,NaN,Other Income,$,-2748.35,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX2123P2 ...
85,posted,11/19/2018,VENMO DES:CASHOUT ID:xxxxxx4993 ...,NaN,Other Income,$,-150.00,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,VENMO DES:CASHOUT ID:XX4993 ...
88,posted,11/15/2018,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx33...,NaN,Other Income,$,-2461.98,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX3362P2 ...
90,posted,11/14/2018,MICROSOFT DES:xxxxxx5014 ID:xxxxxxxxxx1...,NaN,Other Income,$,-13.23,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:XX5014 ID:XX1010 ...
97,posted,11/05/2018,VENMO DES:CASHOUT ID:xxxxxx5392 ...,NaN,Other Income,$,-100.00,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,VENMO DES:CASHOUT ID:XX5392 ...
100,posted,10/31/2018,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx34...,NaN,Other Income,$,-1957.19,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX3473P2 ...
112,posted,10/15/2018,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx31...,NaN,Other Income,$,-1957.19,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX3165P2 ...
123,posted,09/28/2018,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx32...,NaN,Other Income,$,-2331.84,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX3282P2 ...
125,posted,09/26/2018,VENMO DES:CASHOUT ID:xxxxxx6007 ...,NaN,Other Income,$,-165.00,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,VENMO DES:CASHOUT ID:XX6007 ...
135,posted,09/14/2018,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx43...,NaN,Other Income,$,-6459.71,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX4394P2 ...
144,posted,09/04/2018,VENMO DES:CASHOUT ID:xxxxxx7233 ...,NaN,Other Income,$,-237.60,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,VENMO DES:CASHOUT ID:XX7233 ...
147,posted,08/31/2018,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx31...,NaN,Other Income,$,-2553.85,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX3120P2 ...
157,posted,08/15/2018,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx53...,NaN,Other Income,$,-2553.85,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX5332P2 ...
162,posted,07/31/2018,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx31...,NaN,Other Income,$,-2553.85,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX3134P2 ...
173,posted,07/13/2018,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx32...,NaN,Other Income,$,-2553.85,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX3263P2 ...
178,posted,07/10/2018,VENMO DES:CASHOUT ID:xxxxxx8994 ...,NaN,Other Income,$,-146.15,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,VENMO DES:CASHOUT ID:XX8994 ...
181,posted,06/29/2018,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx45...,NaN,Other Income,$,-2666.56,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX4511P2 ...
186,posted,06/15/2018,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx33...,NaN,Other Income,$,-2553.85,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX3345P2 ...
195,posted,05/31/2018,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx23...,NaN,Other Income,$,-2553.85,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX2370P2 ...
201,posted,05/15/2018,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx25...,NaN,Other Income,$,-2553.85,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX2501P2 ...
205,posted,05/07/2018,VENMO DES:CASHOUT ID:xxxxxx7353 ...,NaN,Other Income,$,-460.85,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,VENMO DES:CASHOUT ID:XX7353 ...
207,posted,05/04/2018,MICROSOFT DES:xxxxxx9331 ID:xxxxxxxxxx1...,NaN,Other Income,$,-599.00,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:XX9331 ID:XX1010 ...
211,posted,04/30/2018,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx34...,NaN,Other Income,$,-2553.85,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX3402P2 ...
221,posted,04/13/2018,MICROSOFT DES:EDIPAYMENT ID:xxxxxxxxx25...,NaN,Other Income,$,-2553.85,NaN,NaN,Personal,Bank of America - Bank - Bofa Interest Checking,MICROSOFT DES:EDIPAYMENT ID:XX2541P2 ...

In [14]:
discoverTransactions.rename(columns={'Trans. Date': 'Date'},inplace=True)
discoverTransactions.head()

,Date,Post Date,Description,Amount,Category
0,04/27/2017,04/27/2017,SAUGERTIES WOODSTOCK K SAUGERTIES NY02706R,50.95,Services
1,05/03/2017,05/03/2017,PETSMART # 1193 ITHACA NY,7.32,Merchandise
2,05/03/2017,05/03/2017,SUNOCO 0363912701 ITHACA NY,20.04,Gasoline
3,05/03/2017,05/03/2017,WAL-MART SC - #5240 ITHACA NY,6.42,Merchandise
4,05/04/2017,05/04/2017,INTERNET PAYMENT - THANK YOU,-467.34,Payments and Credits

In [15]:
bofaCashRewardsTransactions['Account']='BOfACashRewards'
bofaTravelRewardsTransactions['Account']='BOfATravelRewards'
bofaAccountTransactions['Account']='BOfAAccounts'
discoverTransactions['Account']='Discover'

In [16]:
transactions = pd.concat([
    bofaCashRewardsTransactions[['Date','Account','Description','Amount','Category']]
    ,bofaTravelRewardsTransactions[['Date','Account','Description','Amount','Category']]
    ,bofaAccountTransactions[['Date','Account','Description','Amount','Category']]
    ,discoverTransactions[['Date','Account','Description','Amount','Category']]
])
transactions.head()

,Date,Account,Description,Amount,Category
0,3/12/2019,BOfACashRewards,PAYMENT - THANK YOU,-1075.42,Credit Card Payments
1,3/6/2019,BOfACashRewards,Comcast,99.89,Cable/Satellite Services
2,3/4/2019,BOfACashRewards,Amazon Kindle,10.99,Entertainment
3,2/20/2019,BOfACashRewards,Home Depot,4.09,Home Improvement
4,2/20/2019,BOfACashRewards,MaidPro,112.00,Home Maintenance

In [17]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1049 entries, 0 to 676
Data columns (total 5 columns):
Date           1049 non-null object
Account        1049 non-null object
Description    1049 non-null object
Amount         1049 non-null float64
Category       1049 non-null object
dtypes: float64(1), object(4)
memory usage: 49.2+ KB

In [18]:
transactions.Date = pd.to_datetime(transactions.Date)
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1049 entries, 0 to 676
Data columns (total 5 columns):
Date           1049 non-null datetime64[ns]
Account        1049 non-null object
Description    1049 non-null object
Amount         1049 non-null float64
Category       1049 non-null object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 49.2+ KB

In [19]:
transactions['Month'] = transactions['Date'].dt.to_period('M')
transactions.Category.fillna('Unknown', inplace=True)
transactions

,Date,Account,Description,Amount,Category,Month
0,2019-03-12,BOfACashRewards,PAYMENT - THANK YOU,-1075.42,Credit Card Payments,2019-03
1,2019-03-06,BOfACashRewards,Comcast,99.89,Cable/Satellite Services,2019-03
2,2019-03-04,BOfACashRewards,Amazon Kindle,10.99,Entertainment,2019-03
3,2019-02-20,BOfACashRewards,Home Depot,4.09,Home Improvement,2019-02
4,2019-02-20,BOfACashRewards,MaidPro,112.00,Home Maintenance,2019-02
5,2019-02-19,BOfACashRewards,U-HAULLAKE HILLS 76 BELLEVUE WA,80.41,Other Expenses,2019-02
6,2019-02-19,BOfACashRewards,7TH AND PIKE SEATTLE WA,9.00,Other Expenses,2019-02
7,2019-02-19,BOfACashRewards,Regal Cinemas,7.70,Entertainment,2019-02
8,2019-02-19,BOfACashRewards,Target,39.23,General Merchandise,2019-02
9,2019-02-19,BOfACashRewards,Quality Food Centers,25.92,Groceries,2019-02
10,2019-02-19,BOfACashRewards,Chevron,6.73,Gasoline/Fuel,2019-02
11,2019-02-18,BOfACashRewards,SQ *JUST TIFFINS @C BELLEVUE WA,9.34,Other Expenses,2019-02
12,2019-02-18,BOfACashRewards,SQ *JUST TIFFINS @C BELLEVUE WA,9.34,Other Expenses,2019-02
13,2019-02-18,BOfACashRewards,SQ *JUST TIFFINS @C BELLEVUE WA,9.33,Other Expenses,2019-02
14,2019-02-18,BOfACashRewards,SQ *JUST TIFFINS @C BELLEVUE WA,11.53,Other Expenses,2019-02
15,2019-02-18,BOfACashRewards,Chaat House,9.34,Restaurants/Dining,2019-02
16,2019-02-16,BOfACashRewards,SQ *JUST TIFFINS @C BELLEVUE WA,13.73,Other Expenses,2019-02
17,2019-02-16,BOfACashRewards,Great Clips,23.00,Personal Care,2019-02
18,2019-02-16,BOfACashRewards,OH INDIA BELLEVUE WA,11.00,Other Expenses,2019-02
19,2019-02-15,BOfACashRewards,Little Garden,22.69,Restaurants/Dining,2019-02
20,2019-02-15,BOfACashRewards,Safeway,11.68,Groceries,2019-02
21,2019-02-15,BOfACashRewards,Cafe 37,8.79,Restaurants/Dining,2019-02
22,2019-02-15,BOfACashRewards,SQ *CHAAT CORNER REDMOND WA,9.89,Restaurants/Dining,2019-02
23,2019-02-15,BOfACashRewards,SQ *VEG-WICH BELLEVUE WA,10.00,Groceries,2019-02
24,2019-02-14,BOfACashRewards,MS CAFE,8.79,Restaurants/Dining,2019-02
25,2019-02-14,BOfACashRewards,SQ *CHAAT CORNER REDMOND WA,9.89,Restaurants/Dining,2019-02
26,2019-02-14,BOfACashRewards,Comcast,50.00,Cable/Satellite Services,2019-02
27,2019-02-13,BOfACashRewards,MS CAFE,3.30,Restaurants/Dining,2019-02
28,2019-02-12,BOfACashRewards,CAN AM PIZZA REDMOND WA,21.51,Restaurants/Dining,2019-02
29,2019-02-11,BOfACashRewards,Cafe 37,3.30,Restaurants/Dining,2019-02
...,...,...,...,...,...,...
647,2019-04-03,Discover,PROLIANCE ORTH & SPORTS BELLEVUE WA,60.66,Medical Services,2019-04
648,2019-04-04,Discover,7TH AND PIKE SEATTLE WA,9.00,Services,2019-04
649,2019-04-04,Discover,CAFE 37 18193524937 REDMOND WA,7.92,Restaurants,2019-04
650,2019-04-04,Discover,PEOPLE INC REDMOND WA1469,142.81,Medical Services,2019-04
651,2019-04-04,Discover,STARBUCKS STORE 03298 SEATTLE WA009BUGSK4NKC65...,4.35,Restaurants,2019-04
652,2019-04-05,Discover,CAFE 37 18193524937 REDMOND WA,7.92,Restaurants,2019-04
653,2019-04-05,Discover,SNOHOMISH CTY PRK GARAGE EVERETT WA,20.00,Services,2019-04
654,2019-04-06,Discover,GITHUB.COM 415-448-6673 CA,7.00,Merchandise,2019-04
655,2019-04-06,Discover,TARGET REDMOND WA,19.94,Supermarkets,2019-04
656,2019-04-06,Discover,TARGET REDMOND WA,195.32,Supermarkets,2019-04
657,2019-04-08,Discover,CAFE 37 18193524937 REDMOND WA,8.79,Restaurants,2019-04
658,2019-04-09,Discover,SQ *PAPAREPAS BELLEVUE WA0001152921508507066796,11.67,Restaurants,2019-04
659,2019-04-10,Discover,CAFE 37 18193524937 REDMOND WA,7.92,Restaurants,2019-04
660,2019-04-11,Discover,DAAWAT GRILL AND BAR SEATTLE WA,66.68,Restaurants,2019-04
661,2019-04-12,Discover,SQ *JUST TIFFINS @CROS BELLEVUE WA000115292150...,12.63,Services,2019-04
662,2019-04-13,Discover,COLDSTONE #22244 LEAVENWORTH WA,6.95,Restaurants,2019-04
663,2019-04-13,Discover,SAFEWAY FUEL 1589 LEAVENWORTH WA,38.45,Gasoline,2019-04
664,2019-04-13,Discover,SIMPLE TREASURES LEAVENWORTH WA,36.85,Merchandise,2019-04
665,2019-04-14,Discover,FALLS GIFT SHOP SNOQUALMIE WA,15.15,Merchandise,2019-04
666,2019-04-15,Discover,CAFE 37 18193524937 REDMOND WA,7.92,Restaurants,2019-04
667,2019-04-16,Discover,CAFE 37 18193524937 REDMOND WA,9.19,Restaurants,2019-04
668,2019-04-16,Discover,ENTERPRISE RENT-A-CAR 425-8853501 WA,71.84,Travel/ Entertainment,2019-04
669,2019-04-18,Discover,CAFE 37 18193524937 REDMOND WA,0.92,Restaurants,2019-04
670,2019-04-18,Discover,SEATTLE METER PARKING SEATTLE WA,6.10,Services,2019-04
671,2019-04-18,Discover,WAL-MART SC - #3098 BELLEVUE WA,8.39,Supermarkets,2019-04
672,2019-04-19,Discover,MS CAFE 40 18027300937 REDMOND WA,9.89,Restaurants,2019-04
673,2019-04-20,Discover,MAYURI FOODS AND VIDEO I REDMOND WA,14.57,Supermarkets,2019-04
674,2019-04-20,Discover,OLD NAVY US 5655 BELLEVUE WA02064R,41.23,Merchandise,2019-04
675,2019-04-20,Discover,SQ *JUST TIFFINS @CROS BELLEVUE WA000115292150...,9.34,Services,2019-04
676,2019-04-21,Discover,QFC #5820 REDMOND WA,29.07,Supermarkets,2019-04

In [27]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1049 entries, 0 to 676
Data columns (total 6 columns):
Date           1049 non-null datetime64[ns]
Account        1049 non-null object
Description    1049 non-null object
Amount         1049 non-null float64
Category       1049 non-null object
Month          1049 non-null object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 97.4+ KB

In [25]:
monthlySummary = transactions.groupby(['Month','Category']).agg({'Amount':{'Total':'sum'}})
monthlySummary.columns = monthlySummary.columns.droplevel()
monthlySummary.reset_index(inplace=True)
monthlySummary.sort_values(['Month','Total'],ascending=False)

C:\Users\deawari.REDMOND\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\groupby\groupby.py:4656: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

      Month                  Category    Total
279 2019-04              Supermarkets   284.99
275 2019-04          Medical Services   203.47
277 2019-04               Restaurants   150.12
276 2019-04               Merchandise   129.23
280 2019-04     Travel/ Entertainment    71.84
278 2019-04                  Services    57.07
274 2019-04                  Gasoline    38.45
255 2019-03      Credit Card Payments  3811.04
257 2019-03             Entertainment   718.76
272 2019-03                    Travel   576.69
264 2019-03           Online Services   417.18
254 2019-03                    Checks   264.65
269 2019-03        Restaurants/Dining   233.33
273 2019-03     Travel/ Entertainment   198.18
261 2019-03                 Insurance   175.63
268 2019-03             Personal Care   144.00
260 2019-03                 Groceries   101.63
253 2019-03  Cable/Satellite Services    99.89
258 2019-03             Gasoline/Fuel    84.10
265 2019-03            Other Expenses    55.81
259 2019-03       General Merchandise    26.04
270 2019-03      Service Charges/Fees    25.00
263 2019-03               Merchandise     7.00
262 2019-03                  Interest    -0.13
271 2019-03                 Transfers   -79.94
267 2019-03      Payments and Credits  -512.04
256 2019-03                  Deposits -3299.00
266 2019-03              Other Income -5255.20
241 2019-02           Online Services  4036.27
251 2019-02                    Travel  2333.81
..      ...                       ...      ...
33  2017-10              Supermarkets    21.16
28  2017-10          Medical Services     9.00
30  2017-10      Payments and Credits -3165.11
25  2017-09                  Services  2291.55
26  2017-09     Travel/ Entertainment  1294.01
22  2017-09               Merchandise    99.54
24  2017-09               Restaurants    44.96
21  2017-09                 Education    10.00
23  2017-09      Payments and Credits -3354.53
20  2017-08                  Services  1780.90
18  2017-08               Merchandise    36.09
19  2017-08      Payments and Credits -1888.82
15  2017-07                  Services  1865.88
12  2017-07               Merchandise  1421.64
17  2017-07     Travel/ Entertainment   672.20
16  2017-07              Supermarkets   363.92
14  2017-07               Restaurants    40.79
11  2017-07          Home Improvement    21.97
10  2017-07         Department Stores    14.28
13  2017-07      Payments and Credits -4328.85
9   2017-06     Travel/ Entertainment   650.60
6   2017-06               Merchandise   150.90
8   2017-06                  Services   129.12
7   2017-06      Payments and Credits -1744.88
5   2017-05     Travel/ Entertainment   560.99
4   2017-05                  Services   147.34
2   2017-05               Merchandise    56.72
1   2017-05                  Gasoline    49.21
3   2017-05      Payments and Credits  -467.34
0   2017-04                  Services    50.95

[281 rows x 3 columns]

In [28]:
transactions.Month = transactions.Month.astype(str)
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1049 entries, 0 to 676
Data columns (total 6 columns):
Date           1049 non-null datetime64[ns]
Account        1049 non-null object
Description    1049 non-null object
Amount         1049 non-null float64
Category       1049 non-null object
Month          1049 non-null object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 97.4+ KB

In [33]:
transactions.Category.unique().sort()

In [42]:
transactions.groupby('Month').Amount.sum()

Month
2017-04       50.95
2017-05      346.92
2017-06     -814.26
2017-07       71.83
2017-08      -71.83
2017-09      385.53
2017-10     -414.60
2017-11      433.93
2017-12     -260.47
2018-01      104.72
2018-02     -139.55
2018-03      142.42
2018-04     4148.32
2018-05      366.78
2018-06     4066.01
2018-07    -1671.11
2018-08    -1310.60
2018-09    10515.35
2018-10     1071.74
2018-11     2201.61
2018-12    -8935.01
2019-01      415.82
2019-02     4547.80
2019-03    -2207.38
2019-04      935.17
Name: Amount, dtype: float64

In [39]:
transactions[(transactions.Month == '2019-03')&(transactions.Category=='Entertainment')]#& (transactions.Category=='Entertainment')]

,Date,Account,Description,Amount,Category,Month
2,2019-03-04,BOfACashRewards,Amazon Kindle,10.99,Entertainment,2019-03
5,2019-03-26,BOfATravelRewards,FREEHOLD THEATRE LAB S SEATTLE WA,517.75,Entertainment,2019-03
16,2019-03-18,BOfATravelRewards,iTunes,0.99,Entertainment,2019-03
28,2019-03-13,BOfATravelRewards,SEATTLE BADMINTON CLUB INXX-4442 WA,48.40,Entertainment,2019-03
30,2019-03-12,BOfATravelRewards,Q NIGHTCLUB SEATTLE WA,17.25,Entertainment,2019-03
31,2019-03-12,BOfATravelRewards,Regal Cinemas,27.06,Entertainment,2019-03
40,2019-03-07,BOfATravelRewards,SEATTLE BADMINTON CLUB KIRKLAND WA,34.10,Entertainment,2019-03
44,2019-03-06,BOfATravelRewards,MAYURI FOODS AND VIDEO INREDMOND WA,62.22,Entertainment,2019-03

In [46]:
transactions[(transactions.Month == '2019-03')].sort_values(['Category','Amount'])

          Date            Account                                                                       Description   Amount                  Category    Month
1   2019-03-06  BOfACashRewards    Comcast                                                                           99.89    Cable/Satellite Services  2019-03
11  2019-03-14  BOfAAccounts       Check                                                                             264.65   Checks                    2019-03
0   2019-03-12  BOfACashRewards    PAYMENT - THANK YOU                                                              -1075.42  Credit Card Payments      2019-03
12  2019-03-13  BOfAAccounts       Discover Bank                                                                     512.04   Credit Card Payments      2019-03
13  2019-03-12  BOfAAccounts       Bank of America                                                                   1075.42  Credit Card Payments      2019-03
2   2019-03-28  BOfAAccounts       Online Banking payment to CRD 6551                          Confirmation# XX7041  3299.00  Credit Card Payments      2019-03
2   2019-03-29  BOfATravelRewards  Online payment from CHK 8                                                        -3299.00  Deposits                  2019-03
16  2019-03-18  BOfATravelRewards  iTunes                                                                            0.99     Entertainment             2019-03
2   2019-03-04  BOfACashRewards    Amazon Kindle                                                                     10.99    Entertainment             2019-03
30  2019-03-12  BOfATravelRewards  Q NIGHTCLUB              SEATTLE      WA                                          17.25    Entertainment             2019-03
31  2019-03-12  BOfATravelRewards  Regal Cinemas                                                                     27.06    Entertainment             2019-03
40  2019-03-07  BOfATravelRewards  SEATTLE BADMINTON CLUB   KIRKLAND     WA                                          34.10    Entertainment             2019-03
28  2019-03-13  BOfATravelRewards  SEATTLE BADMINTON CLUB INXX-4442 WA                                               48.40    Entertainment             2019-03
44  2019-03-06  BOfATravelRewards  MAYURI FOODS AND VIDEO INREDMOND      WA                                          62.22    Entertainment             2019-03
5   2019-03-26  BOfATravelRewards  FREEHOLD THEATRE LAB S   SEATTLE      WA                                          517.75   Entertainment             2019-03
33  2019-03-12  BOfATravelRewards  Chevron                                                                           27.25    Gasoline/Fuel             2019-03
47  2019-03-04  BOfATravelRewards  Shell                                                                             27.35    Gasoline/Fuel             2019-03
7   2019-03-26  BOfATravelRewards  Chevron                                                                           29.50    Gasoline/Fuel             2019-03
19  2019-03-18  BOfATravelRewards  Walmart                                                                           26.04    General Merchandise       2019-03
6   2019-03-26  BOfATravelRewards  7-Eleven                                                                          3.88     Groceries                 2019-03
24  2019-03-14  BOfATravelRewards  Safeway                                                                           6.59     Groceries                 2019-03
13  2019-03-19  BOfATravelRewards  Albertsons                                                                        8.19     Groceries                 2019-03
22  2019-03-15  BOfATravelRewards  SPL*NEW PHARAOH FOOD     BOTHELL      WA                                          12.04    Groceries                 2019-03
1   2019-03-29  BOfATravelRewards  SQ *VEG-WICH             BELLEVUE     WA                                          13.80    Groceries                 2019-03
32  2019-03-12  BOfATravelRewards  Safeway                                                                           57.13    Groceries                 2019-03
14  2019-03-05  BOfAAccounts       Allstate Insurance Company                                                        175.63   Insurance                 2019-03
7   2019-03-19  BOfAAccounts       Interest Earned                                                                  -0.11     Interest                  2019-03
6   2019-03-19  BOfAAccounts       Interest Earned                                                                  -0.02     Interest                  2019-03
642 2019-03-06  Discover           GITHUB.COM 415-448-6673 CA                                                        7.00     Merchandise               2019-03
1   2019-03-28  BOfAAccounts       Venmo Inc                                                                         100.00   Online Services           2019-03
3   2019-03-25  BOfAAccounts       Venmo Inc                                                                         112.99   Online Services           2019-03
4   2019-03-25  BOfAAccounts       Venmo Inc                                                                         204.19   Online Services           2019-03
48  2019-03-04  BOfATravelRewards  SQ *JUST TIFFINS @C      BELLEVUE     WA                                          9.88     Other Expenses            2019-03
36  2019-03-11  BOfATravelRewards  SQ *JUST TIFFINS @C      BELLEVUE     WA                                          15.93    Other Expenses            2019-03
29  2019-03-12  BOfATravelRewards  DOUGH ZONE DUMPLING HOUSEBELLEVUE     WA                                          30.00    Other Expenses            2019-03
0   2019-03-29  BOfAAccounts       MICROSOFT        DES:EDIPAYMENT ID:XX3434P2           INDN:                      -2086.90  Other Income              2019-03
10  2019-03-15  BOfAAccounts       MICROSOFT        DES:EDIPAYMENT ID:XX3275P2           INDN:                      -2078.18  Other Income              2019-03
51  2019-03-02  BOfATravelRewards  QATAR AIR   XX0922  DC                                                           -539.56   Other Income              2019-03
52  2019-03-02  BOfATravelRewards  QATAR AIR   XX0922  DC                                                           -539.56   Other Income              2019-03
49  2019-03-04  BOfATravelRewards  SEATTLE BADMINTON CLUB INKIRKLAND     WA                                         -11.00    Other Income              2019-03
643 2019-03-12  Discover           INTERNET PAYMENT - THANK YOU                                                     -512.04   Payments and Credits      2019-03
15  2019-03-18  BOfATravelRewards  HEALTHY LIVING MASSAGE   BELLEVUE     WA                                          62.00    Personal Care             2019-03
17  2019-03-18  BOfATravelRewards  HEALTHY LIVING MASSAGE   BELLEVUE     WA                                          82.00    Personal Care             2019-03
12  2019-03-19  BOfATravelRewards  McDonald s Restaurant                                                             2.20     Restaurants/Dining        2019-03
8   2019-03-23  BOfATravelRewards  Cafe 37                                                                           3.30     Restaurants/Dining        2019-03
34  2019-03-11  BOfATravelRewards  MS CAFE                                                                           3.30     Restaurants/Dining        2019-03
35  2019-03-11  BOfATravelRewards  CAFE XX7307   REDMOND      WA                                                     4.13     Restaurants/Dining        2019-03
10  2019-03-22  BOfATravelRewards  MS CAFE                                                                           6.82     Restaurants/Dining        2019-03
39  2019-03-08  BOfATravelRewards  MS CAFE                                                                           6.82     Restaurants/Dining        2019-03
53  2019-03-01  BOfATravelRewards  MS CAFE                                                                           6.82     Restaurants/Dining        2019-03
27  2019-03-13  BOfATravelRewards  Cafe 37                                                                           7.92     Restaurants/Dining        2019-03
43  2019-03-06  BOfATravelRewards  Cafe 37                                                                           7.92     Restaurants/Dining        2019-03
46  2019-03-04  BOfATravelRewards  Cafe 37                                                                           7.92     Restaurants/Dining        2019-03
50  2019-03-02  BOfATravelRewards  Cafe 37                                                                           7.92     Restaurants/Dining        2019-03
4   2019-03-27  BOfATravelRewards  Cafe 37                                                                           8.79     Restaurants/Dining        2019-03
25  2019-03-14  BOfATravelRewards  Cafe 37                                                                           8.79     Restaurants/Dining        2019-03
41  2019-03-07  BOfATravelRewards  Cafe 37                                                                           9.13     Restaurants/Dining        2019-03
3   2019-03-28  BOfATravelRewards  Cafe 37                                                                           9.89     Restaurants/Dining        2019-03
11  2019-03-22  BOfATravelRewards  Mr Gyros                                                                          9.91     Restaurants/Dining        2019-03
0   2019-03-30  BOfATravelRewards  Burger King Corporation                                                           10.66    Restaurants/Dining        2019-03
14  2019-03-18  BOfATravelRewards  MS CAFE                                                                           10.99    Restaurants/Dining        2019-03
23  2019-03-15  BOfATravelRewards  QDOBA RESTAURANT INC.                                                             11.00    Restaurants/Dining        2019-03
26  2019-03-13  BOfATravelRewards  Japonessa                                                                         18.40    Restaurants/Dining        2019-03
45  2019-03-06  BOfATravelRewards  The Lime and the Coconut                                                          70.70    Restaurants/Dining        2019-03
42  2019-03-07  BOfATravelRewards  LATE FEE FOR PAYMENT DUE                                                          25.00    Service Charges/Fees      2019-03
5   2019-03-25  BOfAAccounts       Zelle Transfer Conf# XX9565;                             BLYTHE CHIK             -79.94    Transfers                 2019-03
9   2019-03-15  BOfAAccounts       Automatic Transfer from CHK 8560                            Confirmation# XX4943 -25.00    Transfers                 2019-03
8   2019-03-15  BOfAAccounts       Automatic Transfer to SAV 6725                              Confirmation# XX4943  25.00    Transfers                 2019-03
18  2019-03-18  BOfATravelRewards  JACKSON VISITOR CENTER G ASHFORD      WA                                          7.54     Travel                    2019-03
9   2019-03-22  BOfATravelRewards  JEWEL HOSPITALITY, INC. DXX4918  WA                                               8.20     Travel                    2019-03
38  2019-03-11  BOfATravelRewards  Uber                                                                              14.74    Travel                    2019-03
37  2019-03-11  BOfATravelRewards  Uber                                                                              23.01    Travel                    2019-03
21  2019-03-15  BOfATravelRewards  Delta Air Lines                                                                   136.60   Travel                    2019-03
20  2019-03-15  BOfATravelRewards  Delta Air Lines                                                                   386.60   Travel                    2019-03
644 2019-03-28  Discover           GRACIE BARRA BELLVUE REDMOND WA                                                   198.18   Travel/ Entertainment     2019-03

In [47]:
transactions[transactions.Description.str.contains("GRACIE BARRA BELLVUE")]

          Date   Account                      Description  Amount               Category    Month
567 2018-11-30  Discover  GRACIE BARRA BELLVUE REDMOND WA  198.18  Travel/ Entertainment  2018-11
582 2018-12-06  Discover  GRACIE BARRA BELLVUE REDMOND WA  236.71  Travel/ Entertainment  2018-12
598 2018-12-29  Discover  GRACIE BARRA BELLVUE REDMOND WA  198.18  Travel/ Entertainment  2018-12
627 2019-01-29  Discover  GRACIE BARRA BELLVUE REDMOND WA  198.18  Travel/ Entertainment  2019-01
641 2019-02-28  Discover  GRACIE BARRA BELLVUE REDMOND WA  198.18  Travel/ Entertainment  2019-02
644 2019-03-28  Discover  GRACIE BARRA BELLVUE REDMOND WA  198.18  Travel/ Entertainment  2019-03

In [48]:
transactions.to_csv('expenses.csv')

In [50]:
expenses = pd.read_csv('../data/expenses.csv')
expenses = expenses[['Date','Month','Category','Account','Description','Amount']]
expenses.head()

         Date    Month Category   Account                     Description  Amount
0  2019-04-04  2019-04   Food    Discover  CAFE 37 18193524937 REDMOND WA  7.92
1  2019-04-05  2019-04   Food    Discover  CAFE 37 18193524937 REDMOND WA  7.92
2  2019-04-08  2019-04   Food    Discover  CAFE 37 18193524937 REDMOND WA  8.79
3  2019-04-10  2019-04   Food    Discover  CAFE 37 18193524937 REDMOND WA  7.92
4  2019-04-15  2019-04   Food    Discover  CAFE 37 18193524937 REDMOND WA  7.92

In [57]:
expenses.groupby(['Month','Category']).agg({'Amount':{'Total':'sum'}})

C:\Users\deawari.REDMOND\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\groupby\groupby.py:4656: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

                                Amount
                                 Total
Month   Category
2017-04 Food                  50.95
2017-05 Education             32.00
        Entertainment         70.92
        Food                  6.42
        Insurance             11.41
        Payments             -467.34
        Services              75.99
        Shopping              7.32
        Travel                610.20
2017-06 Education             32.00
        Entertainment         11.98
        Payments             -1744.88
        Services              6.99
        Shopping              219.42
        Travel                660.23
2017-07 Bills                 138.60
        Education             32.00
        Entertainment         115.66
        Food                  40.79
        HouseRent             1720.29
        Payments             -4328.85
        Services              6.99
        Shopping              1674.15
        Travel                672.20
2017-08 Bills                 48.63
        Education             32.00
        Entertainment         0.99
        HouseRent             1720.29
        Payments             -1888.82
        Services              11.98
        Shopping              3.10
2017-09  Food                 28.93
        Bills                 97.26
        Car                   8.00
        Education             345.04
        Entertainment         66.97
        Food                  16.03
        HouseRent             1741.29
        Insurance             22.75
        Payments             -3354.53
        Services              6.99
        Shopping              36.57
        Travel                1370.23
2017-10  Food                 34.38
        Bills                 48.63
        Donation              40.00
        Education             430.37
        Entertainment         40.71
        Food                  55.40
        Groceries             21.16
        HouseRent             1753.29
        Insurance             15.83
        Payments             -3085.98
        Services              6.99
        Shopping              20.74
        Travel                203.88
2017-11 Bills                 76.19
        Education             7.00
        Entertainment         31.75
        Food                  45.55
        HouseRent             1751.18
        Insurance             15.83
        Payments             -3342.35
        Services              6.99
        Shopping              302.01
        Travel                1539.78
2017-12 Bills                 48.62
        Education             755.00
        Entertainment         70.99
        HouseRent             1751.18
        Insurance            -16.21
        Payments             -2988.85
        Services              6.99
        Shopping              26.43
        Travel                85.38
2018-01 Bills                 48.62
        Education             56.00
        Entertainment         0.99
        Food                  18.00
        HouseRent             1751.18
        Payments             -2134.42
        Services              6.99
        Shopping              3.18
        Travel                354.18
2018-02  Food                 1.50
        Bills                 49.14
        Education             17.00
        Entertainment         12.08
        HouseRent             1751.18
        Payments             -2122.30
        Services              6.99
        Shopping              8.76
        Travel                136.10
2018-03 Bills                 49.14
        Education             7.00
        Entertainment         215.46
        HouseRent             1751.18
        Payments             -2055.91
        Services              6.99
        Shopping              6.58
        Travel                161.98
2018-04  Food                 25.31
        Bills                 154.78
        Car                   264.65
        Deposits             -96.80
        Education             7.00
        Entertainment         63.26
        Food                  104.07
        HouseRent             1751.18
        Insurance             170.79
        Interest             -0.17
        Online Services       447.50
        Other Income         -5107.70
        Payments              1770.59
        Services              116.82
        Shopping              145.41
        Transfers             4000.00
        Travel                331.63
2018-05  Food                 215.06
        Bills                 133.18
        Car                   602.33
        Education             606.00
        Entertainment         43.41
        Food                  300.70
        Groceries             123.94
        HouseRent             1751.18
        Insurance             170.79
        Interest             -0.18
        Online Services       106.85
        Other Income         -6167.55
        Payments              1916.36
        Services              6.99
        Shopping              126.52
        Sports                85.10
        Transfers             0.00
        Travel                346.10
2018-06  Food                 210.28
        Bills                 113.04
        Car                   1190.53
        Donation              100.00
        Education             7.00
        Entertainment         10.98
        Food                  215.87
        Groceries             124.80
        HouseRent             1751.18
        Insurance             172.86
        Interest             -0.19
        Online Services       879.00
        Other                 184.00
        Other Income         -5220.41
        Payments              432.94
        Services              226.99
        Shopping              447.48
        Sports                79.95
        Transfers             3000.00
        Travel                139.71
2018-07  Food                 80.25
        Bills                 38.98
        Car                   264.65
        Deposits             -35.00
        Education             7.00
        Entertainment         151.58
        Food                  164.65
        Groceries             158.08
        Insurance             172.87
        Interest             -0.16
        Online Services       1067.52
        Other Income         -5253.85
        Payments              1093.86
        Services              6.99
        Shopping              17.57
        Sports                25.28
        Transfers             0.00
        Travel                368.62
2018-08  Food                 146.38
        Car                   264.65
        Education             7.00
        Entertainment         138.93
        Food                  136.47
        Groceries             69.36
        HouseRent             162.43
        Insurance             147.28
        Interest             -0.20
        Online Services       240.72
        Other Income         -5107.70
        Payments              2013.30
        Services              20.52
        Shopping              185.67
        Sports                165.00
        Transfers             0.00
        Travel                99.59
2018-09  Food                 8.99
        Car                   264.65
        Education             324.49
        Entertainment         104.94
        Food                  37.83
        Insurance             172.87
        Interest             -0.17
        Online Services       1656.40
        Other Income         -9194.15
        Payments              837.68
        Service Charges/Fees  10.00
        Shopping              54.32
        Transfers             16000.00
        Travel                58.50
        Withdrawal            179.00
2018-10 Car                   264.65
        Education             7.00
        Entertainment         0.99
        Fees                  25.00
        Food                  9.34
        Insurance             172.87
        Interest              11.64
        Online Services       770.68
        Other Income         -3914.38
        Payments              3266.05
        Transfers             118.38
        Travel                46.57
        Withdrawal            292.95
2018-11  Food                 11.99
        Car                   264.65
        Education             7.00
        Fees                  25.00
        Insurance             172.87
        Interest             -0.10
        Online Services       240.00
        Other Income         -5473.56
        Payments              1154.47
        Service Charges/Fees  10.00
        Shopping              139.08
        Sports                150.21
        Transfers             5500.00
2018-12  Food                 81.66
        Car                   264.65
        Education             7.00
        Entertainment         20.00
        Fees                  25.00
        Food                  115.61
        Groceries             34.03
        Insurance             175.63
        Interest             -0.08
        Medical Services      225.54
        Online Services       572.64
        Other Income         -7363.64
        Payments              1654.00
        Rewards              -2.71
        Shopping              284.51
        Sports                434.89
        Transfers            -5510.00
        Travel                46.26
2019-01  Food                 41.95
        Bills                 150.00
        Car                   264.65
        Education             7.00
        Entertainment         105.03
        Food                  83.65
        Groceries             3.99
        Insurance             175.63
        Interest             -0.15
        Medical Services      417.89
        Online Services       2114.64
        Other Income         -4235.95
        Payments              1396.79
        Rewards              -0.66
        Sports                229.22
        Transfers            -450.00
        Travel                49.14
        Withdrawal            63.00
2019-02  Food                 121.92
        Bills                 50.00
        Car                   264.65
        Deposits             -226.49
        Education             7.00
        Entertainment         114.70
        Food                  385.97
        Groceries             98.09
        Insurance             201.10
        Interest             -0.12
        Online Services       4036.27
        Other                 343.44
        Other Income         -4173.82
        Payments              526.49
        Personal Care         23.00
        Rewards              -0.21
        Shopping              59.15
        Sports                257.58
        Transfers            -64.19
        Travel                2523.27
2019-03  Food                 75.71
        Bills                 99.89
        Car                   264.65
        Deposits             -3299.00
        Education             7.00
        Entertainment         718.04
        Fees                  25.00
        Food                  651.91
        Groceries             138.01
        Insurance             175.63
        Interest             -0.13
        Online Services       417.18
        Other Income         -5244.20
        Payments              3299.00
        Sports                269.68
        Transfers            -79.94
        Travel                274.19
2019-04  Food                 50.58
        Education             7.00
        Entertainment         44.15
        Food                  129.90
        Groceries             43.64
        Medical Services      203.47
        Other                 9.00
        Shopping              293.34
        Travel                154.09